body {
    overflow-x: hidden;
}
.course-edit {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.course-edit-footer {
    width: 100%;
    background-color: #E1E8FA;
    position: fixed;
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.course-edit__wraper {
    display: flex;
    justify-content: start;
}
.course-edit-footer::after {
    content: '';
    background-color: #E1E8FA;
    right: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}
.save-button {
    padding: 0.5 3%;
    border: none;
    outline: none;
    background-color: #E1FAF4;
    text-align: center;
}
.course-edit-block {
    flex: 1 1 auto;
    padding-bottom: 3%;
}
.save-button-load__wraper {
    border: 1px solid #000;
    background-color: #fff;
}
.save-button-load {
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
}
.save-button-load-item {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    animation: save-button-load-item-animate 1s ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
}
.save-button-load-item:nth-child(1) {
    animation-delay: 0;
}
.save-button-load-item:nth-child(2) {
    animation-delay: 0.2s;
    left: 10px;
}
.save-button-load-item:nth-child(3) {
    animation-delay: 0.4s;
    left: 20px;
}
.save-button-load-item:nth-child(4) {
    animation-delay: 0.6s;
    left: 30px;
}
@keyframes save-button-load-item-animate {
    0% {
        width: 5px;
        height: 5px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
}
@media (max-width:1030px) {
    .course-edit__wraper {
        flex-direction: column;
    }
}