main {
    display: flex;
    justify-content: center;
    margin: 1% auto;
}
@media (max-width: 1900px), (min-width: 1900px)  {
    main {
        width: 1440px;
    }
}
@media (max-width: 1530px) {
    main {
        width: 1170px;
    }
}
@media (max-width: 1200px) {
    main {
        width: 970px;
    }
}
@media (max-width: 1030px) {
    main {
        width: 100%;
    }
}
/* @media (max-width: 540px) {
    .header__profile {
        margin-right: 13%;
    }
    .header__profile__authentication {
        margin-right: 13%;
    }
} */