.choice-answer label {
    display: flex;
    align-items: center;
}
.choice-answer label input {
    margin-right: 5px;
}
.add-choice-answer input {
    margin-right: 1%;
    border: 1px solid #000;
    border-radius: 15px;
    font-size: 16px;
    padding: 0.7%;
    outline: none;
}
.add-choice-answer {
    display: flex;
    align-items: center;
}