.promtion-course-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}
.promtion-course-description {
    width: 80%;
}
.promtion-course-enrollment {
  max-width: 300px;
}
.promtion-course-name {
  font-size: 26px;
}
.promtion-course-image img {
    max-width: 170px;
    max-height: 130px;
}
.enrollment-button {
    width: 100%;
    border: 1px solid #000;
    padding: 5%;
    border-radius: 15px;
    background-color: #fff;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
}
.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.sublist {
  padding: 10px;
}
.subitem {
  margin-bottom: 5px;
}
.rotate {
    transform: rotate(-90deg);
}
@media (max-width: 700px) {
  .promtion-course-enrollment {
    max-width: 100%;
  }
  .promtion-course-head  {
    flex-direction: column;
    padding: 10px;
  }

}