.user-head {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}
.user-head__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    font-size: 32px;
    margin-right: 5%;
}
.user-head__name {
    display: flex;
    align-items: center;
}
.user-head__name p {
    margin-right: 10px;
}
.sertifacate-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #000;
    padding: 1%;
}