@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('./fonts/MPLUSRounded1c-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('./fonts/MPLUSRounded1c-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'M PLUS Rounded 1c';
    src: url('./fonts/MPLUSRounded1c-Medium.ttf');
    font-weight:500;
}